%h2 Ask a question

= form_with model: @question, local: true do |f|
  = render partial: "/layouts/errors", locals: { record: @question }

  .field
    .label Title
    = f.text_field :title, placeholder: "Brief question", maxlength: 255

  .field
    .label Body
    = f.text_area :body, placeholder: "All glorious details of your question, feel free to use markdown", maxlength: 65535

  .field.actions
    = f.submit "Submit"
