.question
  .q-title= @question.title
  .q-body= @question.body

= render partial: "/answers/form"

.answers
  - @question.answers.to_a.each do |a|
    .answer
      .a-title= a.title
      .a-body= a.body
