.question
  .q-title= @question.title
  .username= @question.user.name
  .q-body= render_as_markdown(@question.body)

= render partial: "/answers/form"

.answers
  - @question.answers.to_a.each do |answer|

    .answer
      .a-title= answer.title
      .username= answer.user.name
      .a-body= render_as_markdown(answer.body)
