= form_with model: [@question, @answer], local: true do |f|
  = render partial: "/layouts/errors", locals: { record: @answer }

  .field
    .label Title:
    = f.text_field :title, placeholder: "Brief answer", maxlength: 255

  .field
    .label Body:
    = f.text_area :body, placeholder: "tl;dr answer, markdown enabled", maxlength: 65535

  .field.actions
    = f.submit "Answer"
