!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Qanda
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if current_user
      %b= "Hello #{current_user.name}"
      |
      = link_to "Logout", logout_path, method: :delete
      |
      = link_to "Questions", questions_path
      |
      = link_to "Ask Question", new_question_path
      |
      = link_to "Search", search_path

      %br
      %hr
      %br

      - if flash[:notice]
        .success
          = flash[:notice]

      - if flash[:alert]
        .failure
          = flash[:alert]

      = yield

    - else
      = button_to "Please login with Google to continue", "/auth/google_oauth2", method: :post
